<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" dir="ltr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>我的博客</title>
        <meta name="description" content="" />
        <meta name="keywords" content="null_386 50" />

        <!-- Bootstrap -->
        <!-- <link rel="stylesheet" href="../static/dist/css/bootstrap.min.css"> -->

        <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon" />
        <link href="../static/css/blog.css" media="screen" rel="stylesheet" type="text/css" />
        <link href="../static/css/blue.css" media="screen" rel="stylesheet" type="text/css" />
        <script src="../static/js/application.js" type="text/javascript"></script>

        
    </head>
    <body>
        
        <div id="page">
	      <div id="branding" class="clearfix">
		<div id="blog_name">
		  <h1><a href="/">50</a></h1>
		</div>
		<div id='fd'></div>
		<div id="blog_navbar">
		  <ul>
		    <li class='blog_navbar_for'><a href="http://null-386.iteye.com"><strong>博客</strong></a></li>
		    <li ><a href="/weibo">微博</a></li>
		    <li ><a href="/album">相册</a></li>
		    <li ><a href="/link">收藏</a></li>
		    <li ><a href="/blog/guest_book">留言</a></li>
		    <li ><a href="/blog/profile">关于我</a></li>
		  </ul>
	    
		  <div class="search">
		    <form action="/blog/search" method="get">
		      <input class="search_text" id="query" name="query" style="margin-left: 10px;width: 110px;" type="text" value="" />
		      <input class="submit_search" type="submit" value="" />
		    </form>
		  </div> 
		  <div id="fd"></div>         
		</div>
	      </div> 

            <div id="content" class="clearfix">
                <div id="main">
			<div class="blog_main_title">
			<span>文章列表</span> 
			<div id="fd"></div>  
			</div>
			{% include "article/blog_list_item.html" %}	
                </div>

                <div id="local">
                    <div class="local_top"></div>
                    <div id="blog_owner">
                        <div id="blog_owner_logo"><a href='http://null-386.iteye.com'><img alt="null_386的博客" class="logo" src="../static/images/user-logo.gif" title="null_386的博客: 50" /></a></div>
                        <div id="blog_owner_name">null_386</div>
                    </div>

                    <div id="blog_actions">
                        <ul>
                            <li>浏览: 5375 次</li>
                            <li>性别: <img alt="Icon_minigender_1" src="../static/images/icon_minigender_1.gif" title="男" /></li>
                            <li>来自: 深圳</li>
                            <li><img src='../static/images/status/online.gif'/></li>
                        </ul>
                    </div>
                           <div id="blog_menu">
                        <h5>文章分类</h5>
                        <ul>
							<li><a href="/">全部博客 (13)</a></li>
							{% for cat in categorys %}
							<li><a href="{{ cat.href }}">{{ cat.name }}</a></li>
							{% endfor %}
                        </ul>
                    </div>

                    <div id="month_blogs">
                        <h5>存档分类</h5>
                        <ul>
                            <li><a href="/blog/monthblog/2014-02">2014-02</a> (1)</li>
                            <li><a href="/blog/monthblog/2013-12">2013-12</a> (2)</li>
                            <li><a href="/blog/monthblog/2013-11">2013-11</a> (2)</li>
                            <li><a href="/blog/monthblog_more">更多存档...</a></li>
                        </ul>
                    </div>

                    <div id="guest_books">
                    <h5>最新评论</h5>
                    <ul>
                    </ul>
                    </div>
                    <div class="local_bottom"></div>
                </div>
            </div>

            <div id="footer" class="clearfix">
                <div id="copyright">
                <hr/>
                声明：
                </div>
            </div>
        </div> 


    </body>
</html>
